src:
  - type: fs
    path: /path/to/source/file
  - type: http
    options:
      url: https://server-info.example
      username: admin
      password: admin

dst:
  - type: ssh_config
    path: /path/to/ssh_config
  - type: hosts
    path: /path/to/hosts
